<div class="containerBody" style="background-image: url('assets/images/img2.jpg');">
    <h1 id="heading">Welcome to our Project</h1>
    <div class="container">
        <div class="bg">
            <h3 routerLink="/login">Forget password</h3>
            <hr>
            <form #forgetForm="ngForm" (ngSubmit)="forget()">
                <div>
                    <div class="mb-3">
                        <label for="orgName" class="form-label">Organization name</label>
                        <input type="text" class="form-control" id="orgName" (ngModel)="org.orgName" placeholder="Enter organization name" >
                    </div>
                    
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Organization username</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" (ngModel)="org.orgUsername" placeholder="Set organization username" >
                    </div>
                    
                    <div class="mb-3 d-flex justify-content-between" style="margin: 0px 20px;">
                        <input type="submit" class="btn btn-primary" value="Submit" style="padding:7px 40px;">
                        <input type="button" routerLink="/login" class="btn btn-primary" value="Back" style="padding:7px 50px;">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="copyright">© TeamTrack. All Rights Reserved.</div>