
/* Styles for copyright fixed at the bottom */
.copyright {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    background-color: #9dc9f8; /* Adjust as needed for visibility */
    padding: 5px 0;
    font-size: 14px;
    color: #353b40; /* Adjust text color as needed */
}