
<!-- adding project -->
<div class="containerBody" style="background-image: url('assets/images/img2.jpg');">
    
<button class="my-button btn btn-primary" type="button" routerLink="/org/{{orgUsername}}/project/all-projects"><i class="fa-solid fa-arrow-left" style="padding-left:10px ;padding-right:10px"></i></button>

    <div class="container">
      <div class="bg">
          <h3>Update project</h3>
          <hr>
          <form class="col row form-group" [formGroup]="projectForm" (ngSubmit)="updateProject()">
              <div class="col-6">
                <div class="mb-3">
                    <label for="projectName" class="form-label">Project name</label>
                    <input type="text" class="form-control" id="projectName" formControlName="projectName" placeholder="Enter project name" >
                </div>
                
                <div class="mb-3">
                    <label for="projectStartDate" class="form-label">Project start date</label>
                    <input type="date" class="form-control" id="projectStartDate" formControlName="projectStartDate">
                </div>
                <div class="mb-3">
                  <label for="projectEndDate" class="form-label">Project end date</label>
                  <input type="date" class="form-control" id="projectEndDate" 
                  [class.is-invalid]="projectEndDate?.touched && projectEndDate?.invalid"
                  formControlName="projectEndDate">
                  <div *ngIf="projectEndDate?.invalid && projectEndDate?.touched">
                    <small class="text-danger" *ngIf="projectEndDate?.errors?.required">This field is required</small>
                </div>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                    <label for="projectDescription" class="form-label">Project description</label>
                    <textarea class="form-control" id="projectDescription"
                    [class.is-invalid]="projectDescription?.touched && projectDescription?.invalid"
                    formControlName="projectDescription" rows="8" style="resize: none;" placeholder="Enter project description"></textarea>
                    <div *ngIf="projectDescription?.invalid && projectDescription?.touched">
                      <small class="text-danger" *ngIf="projectDescription?.errors?.required">This field is required</small>
                      <small class="text-danger" *ngIf="projectDescription.hasError('maxlength')">Description cannot exceed 255 characters.</small>
                    </div>
                  </div>
               </div>
                <div class="mb-3" style="text-align: center;">
                    <input type="submit" class="btn btn-primary" value="Submit" style="padding:7px 50px;">
                </div>
          </form>
      </div>
    </div>
  </div>


